{% assign teams = site.teams | sort: 'sort' %}

{% for team in teams %}

<h2>{{ team.name }}</h2>

<ul>
    {% for staff in site.staff %}

    {% if staff.teams contains team.ident %}

    <li>
        <a href="{{ staff.url }}">{{ staff.display_name }}</a>
    </li>

    {% endif %}

    {% endfor %}
</ul>

{% endfor %}