<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- TODO: favicon -->

    <link rel="stylesheet" href="/build/main.dev.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"><!-- TODO: make sure the correct URL is used -->
</head>

<body class="campus-{{ layout.selectedCampus.ident }}">

    <div class="Nav">
        <div class="Nav-container">

            <a href="/"><img class="Nav-logo" ng-src="{{ layout.logoUrl }}"></a>



            <ul class="Nav-menu">
                <li></li>
            </ul>

        </div>
    </div>

    <div class="Nav-background"></div>
    <div class="Nav-dismiss" fp-nav-toggle></div>

    <div class="Layout-contentWrap">
        <div class="MobileBar">
            <span class="MobileBar-navToggle"><i class="icon-navicon" fp-nav-toggle></i></span>
            <a href="/"><img class="MobileBar-logo" ng-src="{{ layout.logoUrl }}"></a>
        </div>
        {{ content }}
    </div>

</body>

</html>
